<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="#" routerLink="Home"><b><span class="text-dark">PARCIAL</span></b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor05">
      <ul class="navbar-nav mx-left">
          <li class="nav-item active">
              <a class="nav-link" href="#" routerLink="Liquidacion">Agregar <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <ul class="navbar-nav mx-left ">
          <li class="nav-item active">
              <a class="nav-link" href="#" routerLink="Consulta">Consultar <span class="sr-only">(current)</span></a>
          </li>
      </ul>
      <ul class="navbar-nav mx-right ">
          <li class="nav-item active">
              <a class="nav-link" href="#" routerLink="Liquidacion">Salir <span class="sr-only">(current)</span></a>
          </li>
      </ul>
     
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>